[user]
  name = Joakim Sælemyr
  email = joakim.saelemyr@gmail.com

[alias]
  s = status
  co = checkout
  aa = add -A
  d = diff
  cm = commit -m
  pr = pull --rebase
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[credential]
	helper = store
